.container-pacientes {
  margin-top: 40px;
  padding: 1rem;
  @include grid(3, 10px);
  @media (max-width: 768px) {
    @include grid(2, 10px);
  }
  @media (max-width: 480px) {
    @include grid(1, 10px);
  }
}


.container-enfermedades {
  margin-top: 40px;
  padding: 1rem;
  @include grid(3, 10px);
  @media (max-width: 768px) {
    @include grid(2, 10px);
  }
  @media (max-width: 480px) {
    @include grid(1, 10px);
  }
}